#pro-section,
#section-wdyn,
#logo-limit {
  max-width: 1200px;
  margin: 0 auto;
}

#presentation-wrap {
  padding: 10em;
}

#pro-section {
  width: 100%;
  padding: 5em;
  box-sizing: border-box;
}

#center-img-pro {
  width: 40%;
  float: left;
  margin: 2em;
}

#text-pro-section {
  margin: 1em;
}

#text-pro-section h3,
#text-pro-section p {
  text-align: start;
}

#text-pro-section p {
  margin-left: 0;
}

.garante-sec {
  padding: 5em;
}

#section-wdyn {
  margin: auto;
  margin: 6em auto;
}

.wdyn-wrap {
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  margin-left: 6%;
}

/*FOOTER*/
footer {
  max-width: 100%;
  padding: 1em;
}

#info-footer {
  width: fit-content;
  margin: 0 auto;
}

#info-footer p,
#info-footer h2 {
  width: 100%;
  text-align: start;
}

#info-footer p {
  margin: 0;
}
